.s4-section-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    z-index: 2;
}

.s4-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s4-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.s4-div-3a {
    margin: 0 0 0 100px;
    padding: 0 0 0 600px;
}

.s4-div-4 {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    width: 48%;
    margin: 0 0 0px 0;
    padding-bottom: 0px;
}

.s4-img-1 {
    height: 500px;
    width: auto;
    padding: 0px 0 0 0;
    margin: -150px 0 0 0;
}

.s4-img-2 {
    width: 1400px;
    height: auto;
}

.s4-h2 {
    padding: 120px 0 20px 0;
}